In [1]:
import pandas as pd
import numpy as np

/anaconda/lib/python3.6/importlib/_bootstrap.py:205: RuntimeWarning: numpy.dtype size changed, may indicate binary incompatibility. Expected 96, got 88
  return f(*args, **kwds)
/anaconda/lib/python3.6/importlib/_bootstrap.py:205: RuntimeWarning: numpy.dtype size changed, may indicate binary incompatibility. Expected 96, got 88
  return f(*args, **kwds)

In [2]:
df1 = pd.read_csv('DENOVO_part1/all de novo candidates.csv')
df2 = pd.read_csv('DENOVO_part2/all de novo candidates.csv')
df = pd.concat([df1, df2], ignore_index=True)

In [3]:
print(df1.shape)
print(df2.shape)

(548957, 15)
(404095, 15)

In [4]:
df.drop_duplicates(subset=["Scan","Source File"]).shape

(953052, 15)

In [5]:
df.tail()

,Fraction,Scan,Source File,Peptide,Tag length,ALC (%),Length,m/z,z,RT,Mass,ppm,local confidence (%),tag (>=0%),mode
953047,10,49410,YJ_Cc_WT2_WC_P_9Jan17_Pippin_16-09-11.mzML,KAPGNPM(+15.99)DMPPSPGVPTHGLMR,22,2,22,1152.0511,2,99.99,2302.1021,-6.2,7 6 1 1 2 1 2 2 2 1 1 2 1 1 3 2 3 3 1 4 2 3,KAPGNPM(+15.99)DMPPSPGVPTHGLMR,HCD
953048,10,49412,YJ_Cc_WT2_WC_P_9Jan17_Pippin_16-09-11.mzML,KQGPKWWYKQALTYLNLLDSLDDVAK,26,20,26,774.1597,4,100.00,3092.6333,-7.7,12 11 10 2 3 3 3 3 3 9 31 14 7 18 32 36 57 54 ...,KQGPKWWYKQALTYLNLLDSLDDVAK,HCD
953049,10,49413,YJ_Cc_WT2_WC_P_9Jan17_Pippin_16-09-11.mzML,EQFWWYSQQNLAKTAR,16,20,16,1028.4962,2,100.00,2054.9963,-9.0,20 7 7 7 8 7 18 6 6 21 48 47 40 34 35 11,EQFWWYSQQNLAKTAR,HCD
953050,10,49414,YJ_Cc_WT2_WC_P_9Jan17_Pippin_16-09-11.mzML,YFMWWM(+15.99)WLSLTLAR,14,21,14,960.4791,2,100.00,1918.9263,9.1,13 14 11 27 11 11 16 24 20 29 21 29 45 22,YFMWWM(+15.99)WLSLTLAR,HCD
953051,10,49415,YJ_Cc_WT2_WC_P_9Jan17_Pippin_16-09-11.mzML,KTYWFWWAFKKWCSAR,16,12,16,1097.5538,2,100.00,2193.0769,7.4,17 15 12 5 4 4 4 4 5 14 9 9 16 29 38 16,KTYWFWWAFKKWCSAR,HCD

In [6]:
mgf_tab = pd.read_csv('/Volumes/MSSHARE/Joonyong/mgf_list_v3.log', sep='\t')
mgf_tab[mgf_tab.id>234]

,id,mgf_file,num_scans,total_scans,species,num_peptides,total_peptides
235,235,Alverdy_Efae_1A_lys_13Jul13_Pippin_12-12-39,17998,5175721,Enterococcus_faecalis,16181,4620721
236,236,Alverdy_Efae_1B_lys_13Jul13_Pippin_12-12-39,17718,5193439,Enterococcus_faecalis,16055,4636776
237,237,Alverdy_Efae_1C_lys_13Jul13_Pippin_12-12-39,17712,5211151,Enterococcus_faecalis,15814,4652590
238,238,Biodiversity_A_muciniphila_test_27Feb17_Pippin...,24742,5235893,Akkermansia_muciniphila_ATCC_BAA-835,21214,4673804
239,239,Ha_150NaCl_1_13_QE_12Aug15_Arwen_14-12-03,32684,5268577,Halanaerobium_congolense,27902,4701706
240,240,Ha_150NaCl_2_14_QE_12Aug15_Arwen_14-12-03,34687,5303264,Halanaerobium_congolense,29961,4731667
241,241,Ha_150NaCl_3_15_QE_12Aug15_Arwen_14-12-03,32408,5335672,Halanaerobium_congolense,27892,4759559
242,242,Ha_200NaCl_1_22_QE_21Jan16_Arwen_15-07-13,35048,5370720,Halanaerobium_congolense,29705,4789264
243,243,Ha_200NaCl_2_23_QE_21Jan16_Arwen_15-07-13,34242,5404962,Halanaerobium_congolense,28807,4818071
244,244,Ha_200NaCl_3_24_QE_21Jan16_Arwen_15-07-13,35132,5440094,Halanaerobium_congolense,29544,4847615
245,245,Ha_250NaCl_1_16_QE_12Aug15_Arwen_14-12-03,19111,5459205,Halanaerobium_congolense,15326,4862941
246,246,Ha_250NaCl_2_17_QE_12Aug15_Arwen_14-12-03,23341,5482546,Halanaerobium_congolense,19355,4882296
247,247,Ha_250NaCl_3_18_QE_12Aug15_Arwen_14-12-03,25090,5507636,Halanaerobium_congolense,22461,4904757
248,248,YJ_Cc_WT1_C_P_9Jan17_Pippin_16-09-11,26569,5534205,Caulobacter_crescentus_NA1000,22820,4927577
249,249,YJ_Cc_WT1_IM_P_9Jan17_Pippin_16-09-11,22557,5556762,Caulobacter_crescentus_NA1000,19081,4946658
250,250,YJ_Cc_WT1_OM_P_9Jan17_Pippin_16-09-11,29444,5586206,Caulobacter_crescentus_NA1000,26060,4972718
251,251,YJ_Cc_WT1_P_Prot_9Jan17_Pippin_16-09-11,25166,5611372,Caulobacter_crescentus_NA1000,21323,4994041
252,252,YJ_Cc_WT1_WC_P_9Jan17_Pippin_16-09-11,21603,5632975,Caulobacter_crescentus_NA1000,17975,5012016
253,253,YJ_Cc_WT2_C_P_9Jan17_Pippin_16-09-11,26333,5659308,Caulobacter_crescentus_NA1000,22620,5034636
254,254,YJ_Cc_WT2_IM_P_9Jan17_Pippin_16-09-11,23543,5682851,Caulobacter_crescentus_NA1000,19881,5054517
255,255,YJ_Cc_WT2_OM_P_9Jan17_Pippin_16-09-11,24334,5707185,Caulobacter_crescentus_NA1000,20632,5075149
256,256,YJ_Cc_WT2_P_Prot_9Jan17_Pippin_16-09-11,28205,5735390,Caulobacter_crescentus_NA1000,24577,5099726
257,257,YJ_Cc_WT2_WC_P_9Jan17_Pippin_16-09-11,20834,5756224,Caulobacter_crescentus_NA1000,16579,5116305

In [7]:
df['file_name'] = pd.DataFrame(df['Source File'].str.rsplit(".", 1).tolist())[0]
df = df.merge(mgf_tab[["id","mgf_file"]], left_on="file_name", right_on="mgf_file", how="left")
df = df[["Scan","Peptide","Length","id"]]

In [8]:
df["scan"] = df['id'].apply(str).str.cat(df['Scan'].apply(str), sep=":")
print(df.shape)
df.head()

(953052, 5)

   Scan             Peptide  Length   id     scan
0    18             AGLPQRK       7  237   237:18
1    21            AGALLPRK       8  237   237:21
2   136         CCCCCCMTYSR      11  237  237:136
3   215  VM(+15.99)FNYHPKGK      10  237  237:215
4   228         YTGPDHHKPGK      11  237  237:228

In [9]:
df.scan.drop_duplicates().shape

(953052,)

In [10]:
kaiko_result_df = pd.read_pickle('/Volumes/MSSHARE/Joonyong/PnnlRun3_235_v4_0001_ep_30/mgf_test/all_results_df.pkl')

In [11]:
kaiko_result_df.shape

(5116305, 19)

In [12]:
kaiko_result_df = kaiko_result_df[kaiko_result_df.file_id>234]

In [13]:
print(kaiko_result_df.shape)
kaiko_result_df.head()

(511765, 19)

,accuracy_AA,accuracy_AA_lbyl,exact_match,file_id,len_AA,match_score,output_score,output_seq,scan,scan_number,target_seq,is_end_with_RK,is_start_with_RK,is_RK_inside,len_output_AA,longest_match_idx,longest_match_length,longest_match_idx_with_novor,longest_match_length_with_novor
169551,10,9,1,245,10,19,-0.13,"L,V,D,Q,H,N,A,Q,E,R",245:7,7,"I,V,D,Q,H,N,A,Q,E,R",True,False,False,10,0,10,0,10
169552,7,7,1,245,7,14,-0.00,"Y,D,S,V,H,G,R",245:17,17,"Y,D,S,V,H,G,R",True,False,False,7,0,7,0,7
169553,7,7,1,245,7,14,-0.11,"L,A,D,H,H,V,K",245:23,23,"L,A,D,H,H,V,K",True,False,False,7,0,7,0,7
169554,9,9,1,245,9,18,-0.02,"H,M,T,H,A,E,Q,A,K",245:25,25,"H,M,T,H,A,E,Q,A,K",True,False,False,9,0,9,0,9
169555,6,6,1,245,6,12,-0.01,"M,K,D,Y,K,K",245:30,30,"M,K,D,Y,K,K",True,False,True,6,0,6,0,6

In [14]:
kaiko_result_df.scan.drop_duplicates().shape

(511765,)

In [19]:
df = df.merge(kaiko_result_df[['scan', 'target_seq', 'len_AA']], left_on="scan", right_on="scan", how="right")

In [20]:
print(df.shape)
df.head()

(511765, 7)

,Scan,Peptide,Length,id,scan,target_seq,len_AA
0,215.0,VM(+15.99)FNYHPKGK,10.0,237.0,237:215,"V,Mmod,E,A,S,H,H,K,P,G,K",11
1,228.0,YTGPDHHKPGK,11.0,237.0,237:228,"V,Mmod,E,A,S,H,H,K,P,G,K",11
2,309.0,VMTWHHKGPK,10.0,237.0,237:309,"V,M,E,A,S,H,H,K,P,G,K",11
3,401.0,VMEASHHKPGK,11.0,237.0,237:401,"V,M,E,A,S,H,H,K,P,G,K",11
4,408.0,HYHMVHLDGK,10.0,237.0,237:408,"V,Mmod,E,A,S,H,H,K,P,G,K",11

In [28]:
df[df.Scan.isnull()]

,Scan,Peptide,Length,id,scan,target_seq,len_AA,output_seq
511622,NaN,NaN,NaN,NaN,245:2503,"Q,K,N,S,N,S,A,S,E,N,A,L,E,N,R,G,E,N,N,A,S,Q,N,...",26,
511623,NaN,NaN,NaN,NaN,245:47465,"L,G,E,D,N,I,N,V,V,E,G,N,E,Q,F,I,S,A,S,K",20,
511624,NaN,NaN,NaN,NaN,250:21906,"Y,S,S,E,Y,N,T,G,S,D,L,F,P,P,K,L,Q,K",18,
511625,NaN,NaN,NaN,NaN,250:27491,"I,S,S,S,E,E,F,E,G,N,P,M,A,D,Mmod,A,A,A,A,S,Q,E...",27,
511626,NaN,NaN,NaN,NaN,250:32621,"N,G,A,V,L,G,Y,N,F,P,G,D,R,W,Y,V,D,A,Y,R",20,
511627,NaN,NaN,NaN,NaN,250:28604,"F,T,V,V,A,T,Q,N,P,I,E,Q,Q,G,T,Y,P,L,P,E,A,Q,L,D,R",25,
511628,NaN,NaN,NaN,NaN,250:34611,"G,Y,W,N,K,P,E,A,T,A,Q,T,F,V,D,G,W,V,R",19,
511629,NaN,NaN,NaN,NaN,250:33613,"V,G,N,S,E,E,F,Y,L,G,P,E,T,M,A,G,L,P,V,G,P,S,V,...",28,
511630,NaN,NaN,NaN,NaN,250:36252,"S,R,F,N,L,P,V,L,P,A,G,D,F,P,V,M,S,S,D,G,L,S,S,R",24,
511631,NaN,NaN,NaN,NaN,250:37303,"V,A,Q,M,E,L,P,T,D,G,Y,T,V,L,N,A,T,L,A,W,K,P,A,...",27,
511632,NaN,NaN,NaN,NaN,250:38127,"S,T,P,S,D,P,L,V,T,T,A,W,L,A,Q,H,L,E,A,P,D,V,R",23,
511633,NaN,NaN,NaN,NaN,250:40109,"F,N,N,V,G,V,N,L,V,W,S,H,L,D,D,V,V,D,D,N,P,A,S,R",24,
511634,NaN,NaN,NaN,NaN,250:40383,"G,Q,L,S,W,T,I,A,D,E,V,E,V,K,Q,E,G,A,E,L,L,L,A,P,R",25,
511635,NaN,NaN,NaN,NaN,250:41722,"L,A,S,A,S,G,N,L,N,I,S,E,L,A,L,F,P,T,L,T,L,T,P,...",29,
511636,NaN,NaN,NaN,NaN,250:41742,"T,L,Q,H,Q,L,T,T,T,Y,N,F,S,P,S,V,A,V,E,A,G,V,Q,Y,R",25,
511637,NaN,NaN,NaN,NaN,250:42008,"T,N,Y,F,Q,N,V,P,T,A,A,L,D,Q,V,L,W,L,E,S,D,R",22,
511638,NaN,NaN,NaN,NaN,250:43429,"V,I,V,A,I,N,K,D,A,D,A,P,I,F,Q,V,A,D,F,G,L,V,A,...",26,
511639,NaN,NaN,NaN,NaN,250:45200,"I,A,V,Y,D,L,G,G,G,T,F,D,V,S,I,L,E,I,G,D,G,V,F,...",26,
511640,NaN,NaN,NaN,NaN,250:46219,"A,H,G,V,I,D,A,I,V,D,P,L,T,S,A,L,K,R",18,
511641,NaN,NaN,NaN,NaN,250:45240,"R,K,D,Q,G,P,L,E,T,F,H,S,A,L,D,N,V,A,P,A,I,E,V,R",24,
511642,NaN,NaN,NaN,NaN,253:28201,"F,T,V,V,A,T,Q,N,P,I,E,Q,Q,G,T,Y,P,L,P,E,A,Q,L,D,R",25,
511643,NaN,NaN,NaN,NaN,253:28220,"G,W,T,A,Q,T,L,D,L,P,A,N,S,A,I,G,L,G,S,S,D,D,K,...",26,
511644,NaN,NaN,NaN,NaN,253:34167,"M,L,L,M,H,S,N,N,R,E,D,I,K,E,A,Y,A,G,D,I,V,A,L,...",27,
511645,NaN,NaN,NaN,NaN,253:34280,"K,E,A,S,V,N,W,D,P,V,D,M,T,V,L,A,N,E,Q,V,I,D,G,K",24,
511646,NaN,NaN,NaN,NaN,253:36386,"L,A,A,L,Y,P,A,I,P,V,I,S,E,E,D,A,S,E,F,G,T,P,E,...",28,
511647,NaN,NaN,NaN,NaN,253:38564,"V,P,P,E,A,L,A,S,I,P,Q,I,A,E,P,G,K,L,A,D,S,I,A,...",29,
511648,NaN,NaN,NaN,NaN,253:39486,"W,A,E,D,T,F,T,A,L,T,D,E,D,A,I,P,P,S,G,D,V,I,L,...",27,
511649,NaN,NaN,NaN,NaN,253:42992,"W,E,Y,Q,G,V,F,A,I,T,E,T,W,T,A,T,F,G,A,E,S,E,R",23,
511650,NaN,NaN,NaN,NaN,247:49947,"D,K,D,E,L,E,S,E,I,G,D,L,L,F,A,V,V,N,L,A,R",21,
511651,NaN,NaN,NaN,NaN,257:3620,"R,P,G,Q,P,G,Q,Q,G,Q,Q,Q,E,D,D,G,D,T,P,A,T,P,K",23,
...,...,...,...,...,...,...,...,...
511735,NaN,NaN,NaN,NaN,256:47317,"L,A,G,G,E,T,V,Q,D,H,L,T,N,L,I,A,T,I,G,E,N,M,M,V,R",25,
511736,NaN,NaN,NaN,NaN,235:27398,"A,V,L,P,E,E,D,K,L,T,A,A,H,A,A,F,M,N,S,G,V,F,L,...",27,
511737,NaN,NaN,NaN,NaN,235:34623,"I,V,L,L,E,E,V,L,N,E,A,V,T,L,A,G,N,Q,I,N,E,K",22,
511738,NaN,NaN,NaN,NaN,241:54289,"Mmod,L,N,T,T,I,V,D,V,Y,A,R",12,
511739,NaN,NaN,NaN,NaN,241:55236,"I,D,P,S,M,M,A,T,H,V,Y,E,G,I,D,K,I,E,D,A,L,L,L,M,K",25,
511740,NaN,NaN,NaN,NaN,242:59051,"T,T,L,T,A,A,I,T,N,V,L,A,N,Y,G,G,A,E,V,R",20,
511741,NaN,NaN,NaN,NaN,242:59066,"A,D,G,D,D,A,E,S,A,V,E,E,L,V,D,F,I,E,V,E,M,K",22,
511742,NaN,NaN,NaN,NaN,242:59086,"S,L,A,P,F,A,A,E,A,W,D,F,L,D,D,E,A,T,D,V,L,S,Q,K",24,
511743,NaN,NaN,NaN,NaN,248:29469,"T,L,R,D,A,M,P,I,A,D,E,A,G,D,E,A,T,A,D,L,L,T,Q,R",24,
511744,NaN,NaN,NaN,NaN,248:34107,"T,D,P,A,I,H,A,L,L,A,P,A,Q,A,E,F,D,R,A,Q,A,G,D,...",27,
511745,NaN,NaN,NaN,NaN,248:34395,"S,L,Y,T,N,T,W,L,Y,T,I,K,P,D,D,I,S,A,P,V,K",21,
511746,NaN,NaN,NaN,NaN,248:42574,"N,M,I,T,G,A,A,Q,M,D,G,A,I,L,V,V,S,A,A,D,G,P,M,...",27,
511747,NaN,NaN,NaN,NaN,251:28016,"L,V,S,I,A,I,D,G,R,P,L,A,A,G,E,Y,G,V,D,A,E,R",22,
511748,NaN,NaN,NaN,NaN,251:30875,"G,D,V,L,S,N,I,N,G,A,P,V,T,S,V,A,D,V,T,S,A,V,E,...",27,
511749,NaN,NaN,NaN,NaN,251:31328,"D,G,Y,E,V,T,E,G,S,A,S,L,N,G,E,D,L,L,A,L,E,P,N,E,R",25,
511750,NaN,NaN,NaN,NaN,251:33512,"S,Q,A,V,G,G,V,V,N,I,V,T,A,E,P,T,T,P,F,T,S,S,L,...",30,
511751,NaN,NaN,NaN,NaN,251:34999,"L,I,E,P,T,A,Y,R,G,E,D,Y,G,T,A,E,D,A,I,E,E,Y,L,R",24,
511752,NaN,NaN,NaN,NaN,251:40508,"V,E,M,I,M,P,G,D,N,A,E,L,D,V,E,L,I,T,P,I,A,M,E,E,K",25,
511753,NaN,NaN,NaN,NaN,251:44490,"I,A,V,Y,D,L,G,G,G,T,F,D,V,S,I,L,E,I,G,D,G,V,F,...",26,
511754,NaN,NaN,NaN,NaN,251:44607,"N,N,P,G,G,L,L,D,Q,A,V,G,V,A,D,V,F,L,D,G,G,E,V,...",27,
511755,NaN,NaN,NaN,NaN,251:48034,"G,L,A,N,P,L,A,A,I,L,S,F,E,M,A,L,R",17,
511756,NaN,NaN,NaN,NaN,251:47878,"W,E,Y,Q,G,V,F,A,I,T,E,T,W,T,A,T,F,G,A,E,S,E,R",23,
511757,NaN,NaN,NaN,NaN,240:10418,"K,I,I,V,D,T,Y,G,G,T,A,H,H,G,G,G,A,F,S,G,K,D,P,...",28,
511758,NaN,NaN,NaN,NaN,240:55432,"R,M,H,L,E,G,A,E,V,E,A,V,L,E,L,L,P,F,S,G,G,L,T,R",24,
511759,NaN,NaN,NaN,NaN,252:20164,"A,S,A,T,Q,V,K,V,D,A,S,T,I,T,D,P,A,Q,F,Q,K",21,
511760,NaN,NaN,NaN,NaN,252:36651,"W,L,L,V,L,P,N,G,D,V,L,V,A,E,S,N,K,P,A,R",20,
511761,NaN,NaN,NaN,NaN,252:40493,"G,L,E,S,V,K,D,S,G,L,L,A,G,F,P,L,I,D,F,K",20,
511762,NaN,NaN,NaN,NaN,252:36952,"S,S,S,E,E,F,E,G,N,P,M,A,D,M,A,A,A,A,S,Q,E,V,E,...",26,
511763,NaN,NaN,NaN,NaN,252:43361,"I,A,V,Y,D,L,G,G,G,T,F,D,V,S,I,L,E,I,G,D,G,V,F,...",26,
511764,NaN,NaN,NaN,NaN,252:47348,"N,G,M,I,D,A,V,V,A,T,G,A,S,I,V,D,M,D,F,F,E,A,L,...",26,

In [27]:
def parse(raw_sequence):
    try:
        raw_sequence_len = len(raw_sequence)
    except:
        return ""

    peptide = []
    index = 0
    while index < raw_sequence_len:
        if raw_sequence[index] == "(":
            if peptide[-1] == "C" and raw_sequence[index:index+8] == "(+57.02)":
                peptide[-1] = "Cmod"
                index += 8
            elif peptide[-1] == 'M' and raw_sequence[index:index+8] == "(+15.99)":
                peptide[-1] = 'Mmod'
                index += 8
            elif peptide[-1] == 'N' and raw_sequence[index:index+6] == "(+.98)":
                peptide[-1] = 'Nmod'
                index += 6
            elif peptide[-1] == 'Q' and raw_sequence[index:index+6] == "(+.98)":
                peptide[-1] = 'Qmod'
                index += 6
            else: # unknown modification
                unknown_modification = True
                break
        else:
            peptide.append(raw_sequence[index])
            index += 1
    return ",".join(peptide)
df['output_seq'] = df.Peptide.apply(parse)

In [29]:
# def count_len_output_AA(row):
#     seq = row['output_seq']
#     try:
#         return len(seq.split(','))
#     except:
#         return 0
# print("---Adding length of target sequences")
# df['len_output_AA'] = df.apply(count_len_output_AA, axis=1)
# # df['len_output_AA'].astype(int)
# df['len_AA'] = df.apply(count_len_output_AA, axis=1)
# df['len_AA'].astype(int)
df.head()

,Scan,Peptide,Length,id,scan,target_seq,len_AA,output_seq
0,215.0,VM(+15.99)FNYHPKGK,10.0,237.0,237:215,"V,Mmod,E,A,S,H,H,K,P,G,K",11,"V,Mmod,F,N,Y,H,P,K,G,K"
1,228.0,YTGPDHHKPGK,11.0,237.0,237:228,"V,Mmod,E,A,S,H,H,K,P,G,K",11,"Y,T,G,P,D,H,H,K,P,G,K"
2,309.0,VMTWHHKGPK,10.0,237.0,237:309,"V,M,E,A,S,H,H,K,P,G,K",11,"V,M,T,W,H,H,K,G,P,K"
3,401.0,VMEASHHKPGK,11.0,237.0,237:401,"V,M,E,A,S,H,H,K,P,G,K",11,"V,M,E,A,S,H,H,K,P,G,K"
4,408.0,HYHMVHLDGK,10.0,237.0,237:408,"V,Mmod,E,A,S,H,H,K,P,G,K",11,"H,Y,H,M,V,H,L,D,G,K"

In [30]:
mass_H = 1.0078
mass_H2O = 18.0106
mass_NH3 = 17.0265
mass_N_terminus = 1.0078
mass_C_terminus = 17.0027
mass_CO = 27.9949

mass_AA = {'_PAD': 0.0,
           '_GO': mass_N_terminus-mass_H,
           '_EOS': mass_C_terminus+mass_H,
           'A': 71.03711, # 0
           'R': 156.10111, # 1
           'N': 114.04293, # 2
           'Nmod': 115.02695,
           'D': 115.02694, # 3
           'C': 103.00919, # 4
           'Cmod': 160.03065, # C(+57.02)
           #~ 'Cmod': 161.01919, # C(+58.01) # orbi
           'E': 129.04259, # 5
           'Q': 128.05858, # 6
           'Qmod': 129.0426,
           'G': 57.02146, # 7
           'H': 137.05891, # 8
           'I': 113.08406, # 9
           'L': 113.08406, # 10
           'K': 128.09496, # 11
           'M': 131.04049, # 12
           'Mmod': 147.0354,
           'F': 147.06841, # 13
           'P': 97.05276, # 14
           'S': 87.03203, # 15
           'T': 101.04768, # 16
           'W': 186.07931, # 17
           'Y': 163.06333, # 18
           'V': 99.06841, # 19
          }

# print(mass_AA)

def get_longest_match_with_novor(output_seq, target_seq, len_AA):
#     if exact_match > 0:
#         return (0, len_AA)
    if (type(output_seq) == float) | (output_seq == ""):
        return (0, 0)
    output = output_seq.split(',')
    decoder_input = target_seq.split(',')
    
    decoder_input_len = len(decoder_input)
    output_len = len(output)
    decoder_input_mass = [mass_AA[x] for x in decoder_input]
    decoder_input_mass_cum = np.cumsum(decoder_input_mass)
    output_mass = [mass_AA[x] for x in output]
    output_mass_cum = np.cumsum(output_mass)
    
    length = min(decoder_input_len, output_len)
    
    num_match = 0
    i = 0
    j = 0
    match_list = [0 for i in range(decoder_input_len)]
    
    while i < decoder_input_len and j < output_len:
        if abs(decoder_input_mass_cum[i] - output_mass_cum[j]) < 0.5:
            if abs(decoder_input_mass[i] - output_mass[j]) < 0.1:
                num_match += 1
                match_list[i] = 1
            i += 1
            j += 1
        elif decoder_input_mass_cum[i] < output_mass_cum[j]:
            i += 1
        else:
            j += 1
    # print('ou tput_seq:', output)
    # print('target_seq:', decoder_input)
    # print(match_list)
    count_list = match_list
    for i in range(length-1):
        if count_list[length - i - 2] == 0:
            count_list[length - i - 2] = 0
        else:
            count_list[length - i - 2] += count_list[length - i - 1]
    # print(count_list)
    max_idx = np.argmax(count_list)
    return (max_idx, count_list[max_idx])
    
# test
print("5. Finding longest subsequences of matching with Novor scoring method")

idx = 2
print(get_longest_match_with_novor(df.output_seq[idx], df.target_seq[idx], df.len_AA[idx]))

df[['longest_match_idx_with_novor', 'longest_match_length_with_novor']] = df.apply(
    lambda row: pd.Series(get_longest_match_with_novor(row['output_seq'], row['target_seq'], row['len_AA']), dtype='int32'), axis=1)

5. Finding longest subsequences of matching with Novor scoring method
(5, 3)

In [31]:
df['exact_match'] = (df.longest_match_length_with_novor==df.len_AA).astype(int)
df.head()

,Scan,Peptide,Length,id,scan,target_seq,len_AA,output_seq,longest_match_idx_with_novor,longest_match_length_with_novor,exact_match
0,215.0,VM(+15.99)FNYHPKGK,10.0,237.0,237:215,"V,Mmod,E,A,S,H,H,K,P,G,K",11,"V,Mmod,F,N,Y,H,P,K,G,K",0,2,0
1,228.0,YTGPDHHKPGK,11.0,237.0,237:228,"V,Mmod,E,A,S,H,H,K,P,G,K",11,"Y,T,G,P,D,H,H,K,P,G,K",5,6,0
2,309.0,VMTWHHKGPK,10.0,237.0,237:309,"V,M,E,A,S,H,H,K,P,G,K",11,"V,M,T,W,H,H,K,G,P,K",5,3,0
3,401.0,VMEASHHKPGK,11.0,237.0,237:401,"V,M,E,A,S,H,H,K,P,G,K",11,"V,M,E,A,S,H,H,K,P,G,K",0,11,1
4,408.0,HYHMVHLDGK,10.0,237.0,237:408,"V,Mmod,E,A,S,H,H,K,P,G,K",11,"H,Y,H,M,V,H,L,D,G,K",9,1,0

In [1]:
import pandas as pd
df = pd.read_pickle('all_results_from_peaks.pkl')

/anaconda/lib/python3.6/importlib/_bootstrap.py:205: RuntimeWarning: numpy.dtype size changed, may indicate binary incompatibility. Expected 96, got 88
  return f(*args, **kwds)
/anaconda/lib/python3.6/importlib/_bootstrap.py:205: RuntimeWarning: numpy.dtype size changed, may indicate binary incompatibility. Expected 96, got 88
  return f(*args, **kwds)

In [2]:
df['exact_match'].mean()

0.26667904213848154

In [4]:
df.groupby(by="id").exact_match.mean().mean()

0.265781055425144

In [7]:
dff = pd.read_pickle('/Volumes/MSSHARE/Joonyong/DeepNovoRun_0-57/mgf_test/all_results_df_v3.pkl')

In [8]:
dff['exact_match'].mean()

0.2933822358127594

In [34]:
import matplotlib.pyplot as plt
import seaborn as sns

def plot_longest_substring_length(df, len_AA):
    plt.close("all")
    ax = sns.countplot(x="longest_match_length_with_novor", linewidth=0, data=df[df.len_AA==len_AA])
    ax.set(xlabel="Longest match length (len={0})".format(len_AA))
    ax.set(ylabel="Counts")
    plt.legend(frameon=False)
    plt.tight_layout()
    plt.savefig("longest_match_length_from_peaks_{0}.png".format(len_AA), dpi=600)

for i in [8,9,12,13,15,17]:
    plot_longest_substring_length(df, i)

No handles with labels found to put in legend.
No handles with labels found to put in legend.
No handles with labels found to put in legend.
No handles with labels found to put in legend.
No handles with labels found to put in legend.
No handles with labels found to put in legend.

In [35]:
plt.close("all")
sns.barplot(x="len_AA", y="exact_match", data=df, ci=None)
plt.savefig("acc_vs_len_with_peaks.png", dpi=600)

In [9]:
AAlengths = [9,12,15,17]
long_match_counts = df[["scan","len_AA","longest_match_length_with_novor"]][df.len_AA.isin(AAlengths)].groupby(by=["len_AA","longest_match_length_with_novor"]).agg(["count"])

In [8]:
long_match_counts.unstack(level=-1)

                                   scan                                 \
                                  count
longest_match_length_with_novor      0       1      2       3       4
len_AA
9                                1268.0   484.0  467.0   673.0  1118.0
12                               2562.0  1205.0  778.0   892.0  1190.0
15                               3197.0  1602.0  976.0  1004.0  1191.0
17                               3372.0  1506.0  870.0   866.0  1065.0

                                                                          \

longest_match_length_with_novor      5       6       7       8        9
len_AA
9                                1085.0  1631.0  3373.0     2.0  14209.0
12                               1624.0  1728.0  1895.0  2188.0   2589.0
15                               1581.0  1480.0  1735.0  1678.0   1826.0
17                               1271.0  1348.0  1507.0  1601.0   1581.0

                                                                          \

longest_match_length_with_novor      10      11       12      13      14
len_AA
9                                   NaN     NaN      NaN     NaN     NaN
12                               3909.0     2.0  12998.0     NaN     NaN
15                               1910.0  2149.0   2581.0  2747.0     NaN
17                               1650.0  1496.0   1453.0  1408.0  1427.0



longest_match_length_with_novor      15      17
len_AA
9                                   NaN     NaN
12                                  NaN     NaN
15                               8318.0     NaN
17                               1733.0  5512.0

In [1]:
24644/600

41.07333333333333