In [2]:
import pandas as pd

/anaconda/lib/python3.6/importlib/_bootstrap.py:205: RuntimeWarning: numpy.dtype size changed, may indicate binary incompatibility. Expected 96, got 88
  return f(*args, **kwds)
/anaconda/lib/python3.6/importlib/_bootstrap.py:205: RuntimeWarning: numpy.dtype size changed, may indicate binary incompatibility. Expected 96, got 88
  return f(*args, **kwds)

In [3]:
spectra = pd.read_csv('mgf_list_v3.log', sep='\t')
spectra.head()

,id,mgf_file,num_scans,total_scans,species,num_peptides,total_peptides
0,0,Biodiversity_A_cryptum_FeTSB_anaerobic_1_01Jun...,7317,7317,Acidiphilium_cryptum_JF-5,6659,6659
1,1,Biodiversity_A_cryptum_FeTSB_anaerobic_2_01Jun...,9503,16820,Acidiphilium_cryptum_JF-5,8532,15191
2,2,Biodiversity_A_cryptum_FeTSB_anaerobic_3_01Jun...,8050,24870,Acidiphilium_cryptum_JF-5,7379,22570
3,3,Biodiversity_A_faecalis_LB_aerobic_01_26Feb16_...,16382,41252,Alcaligenes_faecalis,15496,38066
4,4,Biodiversity_A_faecalis_LB_aerobic_02_26Feb16_...,16256,57508,Alcaligenes_faecalis,15367,53433

In [4]:
df = pd.DataFrame(spectra.groupby(by=['species']).num_scans.sum())
df['clade_marker_size'] = df.num_scans*20/df.num_scans.min()

In [5]:
df.to_csv('num_spectra_by_species.txt', sep='\t')